{% extends 'base.html.twig' %}

{% block body %}

    <div class="relative isolate px-6 pt-14 lg:px-8">

        <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">

            <div class="text-center">
                <h1 class="text-3xl font-bold tracking-tight text-blue-950 sm:text-6xl">Explorez les mystères des langages de programmation :</h1>
                <p class="mt-6 text-lg leading-8 text-slate-600">entrez dans un monde où la créativité se code. Bienvenue sur Inspiro, votre source d'inspiration pour explorer le vaste univers des langages de programmation.</p>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                    <a href="#" class="rounded-md bg-red-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Commencer</a>
                    <a href="#" class="text-sm font-semibold leading-6 text-blue-950 hover:text-red-500">Apprendre <span aria-hidden="true">→</span></a>
                </div>
            </div>

        </div>
        </div>

        <div class="py-24 sm:py-32">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">

                <div class="mx-auto max-w-2xl lg:text-center">
                    <h2 class="text-base font-semibold leading-7 text-red-500">Déployez plus rapidement</h2>
                    <p class="mt-2 text-3xl font-bold tracking-tight text-blue-950 sm:text-4xl">Tout ce dont vous avez besoin pour déployer votre application</p>
                    <p class="mt-6 text-lg leading-8 text-slate-600">Qui possède son propre processus d'adaptation, son propre désir d'apprendre.</p>
                </div>

                <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
                    <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16 mb-16">

                        <div class="relative pl-16">
                            <dt class="text-base font-semibold leading-7 text-blue-950">
                                <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-blue-950">
                                    <svg class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z"></path>
                                    </svg>
                                </div>
                                Pousser pour déployer
                            </dt>
                            <dd class="mt-2 text-base leading-7 text-slate-500">Des lignes de code qui façonnent notre avenir numérique !</dd>
                        </div>

                        <div class="relative pl-16">
                            <dt class="text-base font-semibold leading-7 text-blue-950">
                                <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-blue-950">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red-500">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0012 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75z"></path>
                                    </svg>

                                </div>
                                Le Jardin des Frameworks
                            </dt>
                            <dd class="mt-2 text-base leading-7 text-slate-500">Des outils puissants pour faire fleurir vos projets !</dd>
                        </div>

                        <div class="relative pl-16">
                            <dt class="text-base font-semibold leading-7 text-blue-950">
                                <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-blue-950">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red-500">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"></path>
                                    </svg>

                                </div>
                                Le Marché des Connaissances
                            </dt>
                            <dd class="mt-2 text-base leading-7 text-slate-500">Une communauté florissante où les connaissances se multiplient !</dd>
                        </div>

                        <div class="relative pl-16">
                            <dt class="text-base font-semibold leading-7 text-blue-950">
                                <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-blue-950">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red-500">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 3.104v5.714a2.25 2.25 0 01-.659 1.591L5 14.5M9.75 3.104c-.251.023-.501.05-.75.082m.75-.082a24.301 24.301 0 014.5 0m0 0v5.714c0 .597.237 1.17.659 1.591L19.8 15.3M14.25 3.104c.251.023.501.05.75.082M19.8 15.3l-1.57.393A9.065 9.065 0 0112 15a9.065 9.065 0 00-6.23-.693L5 14.5m14.8.8l1.402 1.402c1.232 1.232.65 3.318-1.067 3.611A48.309 48.309 0 0112 21c-2.773 0-5.491-.235-8.135-.687-1.718-.293-2.3-2.379-1.067-3.61L5 14.5"></path>
                                    </svg>

                                </div>
                                La Fusion Numérique
                            </dt>
                            <dd class="mt-2 text-base leading-7 text-slate-500">Une symbiose virtuose pour créer, innover et évoluer ensemble !</dd>
                        </div>

                    </dl>
                </div>
            </div>
        </div>

        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <h2 class="text-center text-lg font-semibold leading-8 text-blue-950">Langages les plus innovants du monde.</h2>
            <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
                <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="{{ asset('./images/php.png') }}" alt="Transistor" width="158" height="48">
                <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="{{ asset('./images/java_1.png') }}" alt="Reform" width="158" height="48">
                <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="{{ asset('./images/javascript.png') }}" alt="Tuple" width="158" height="48">
                <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1" src="{{ asset('./images/python.png') }}" alt="SavvyCal" width="158" height="48">
                <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="{{ asset('./images/wordpress-icon.png') }}" alt="Statamic" width="158" height="48">
            </div>
        </div>

    </div>

{% endblock %}
