{% set menus = menu_service.findAll %}
{% set options = option_service.findAll %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Inspiro - {% block title %}{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="bg-white">
        <header class="inset-x-0 top-0 z-50">
            <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
                <div class="flex lg:flex-1">
                    <a href="{{ path('home_index') }}" class="-m-1.5 p-1.5">
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                        <h1 class="font-semibold">Inspiro</h1>
                    </a>
                </div>
                <div class="flex lg:hidden">
                    <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                        <span class="sr-only">Open main menu</span>
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                        </svg>
                    </button>
                </div>
                <div class="hidden lg:flex lg:gap-x-12">
                    {% if is_granted('ROLE_AUTHOR') %}
                    <div class="relative ml-3 group">
                        <div>
                            <button type="button" class="flex text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                <span class="sr-only">Open user menu</span>
                                <a href="{{ path('home_show') }}" class="text-sm font-semibold leading-6 text-blue-950 hover:text-red-500">{{ options['blog_title'] }}</a>
                            </button>
                        </div>
                        <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none transition duration-200 transform scale-0 opacity-0 group-hover:scale-100 group-hover:opacity-100" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                            <a href="{{ path('admin') }}" class="block px-4 py-2 text-sm text-blue-950 hover:bg-red-100" role="menuitem" tabindex="-1" id="item user-menu-item-0">Tableau de bord</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ ea_gen_url('MenuCrudController') }}" class="block px-4 py-2 text-sm text-blue-950 hover:bg-red-100" role="menuitem" tabindex="-1" id="item user-menu-item-1">Menus</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="relative ml-3 group">
                        <div>
                            <button type="button" class="flex text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                <span class="sr-only">Open user menu</span>
                                <p class="text-sm font-semibold leading-6 text-blue-950 hover:text-red-500">Ajouter</p>
                            </button>
                        </div>
                        <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none transition duration-200 transform scale-0 opacity-0 group-hover:scale-100 group-hover:opacity-100" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                            <a href="{{ ea_gen_url('ArticleCrudController', 'new') }}" class="block px-4 py-2 text-sm text-blue-950 hover:bg-red-100" role="menuitem" tabindex="-1" id="item user-menu-item-0">Article</a>
                            <a href="{{ ea_gen_url('PageCrudController', 'new') }}" class="block px-4 py-2 text-sm text-blue-950 hover:bg-red-100" role="menuitem" tabindex="-1" id="item user-menu-item-1">Page</a>
                        </div>
                    </div>
                    {% for menu in menus %}
                        {% if menu.subMenus.count > 0 %}
                            <div class="dropdown">
                                <a href="#" class="nav nav-link dropdown-toggle text-blue-950" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ menu.name }}</a>
                                <ul class="dropdown-menu">
                                    {% for subMenu in menu.subMenus %}
                                        <li><a href="{{ subMenu | menuLink }}" class="dropdown-item">{{ subMenu.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% else %}
                            <li class="nav-item">
                                <a href="{{ menu | menuLink }}">{{ menu.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <a href="#" class="text-sm font-semibold leading-6 text-blue-950 hover:text-red-500">Contact</a>
                </div>
                <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="relative ml-3 group">
                            <div>
                                <button type="button" class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                    <span class="sr-only">Open user menu</span>
                                    <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                </button>
                            </div>

                            <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none transition duration-200 transform scale-0 opacity-0 group-hover:scale-100 group-hover:opacity-100" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                                <a href="{{ path('user_index', { username: app.user.username }) }}" class="block px-4 py-2 text-sm text-blue-950 hover:bg-red-100" role="menuitem" tabindex="-1" id="item user-menu-item-0">Mon profil</a>
                                <a href="#" class="block px-4 py-2 text-sm text-blue-950 hover:bg-red-100" role="menuitem" tabindex="-1" id="item user-menu-item-1">Paramètres</a>
                                <a href="{{ path('user_logout') }}" class="block px-4 py-2 text-sm text-red-500 hover:bg-slate-200" role="menuitem" tabindex="-1" id="item user-menu-item-2">Déconnexion</a>
                            </div>
                        </div>
                    {% endif %}

                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('user_login') }}" class="text-sm font-semibold leading-6 text-blue-950 hover:text-red-500">Se Connecter <span aria-hidden="true">&rarr;</span></a>
                    {% endif %}
                </div>

            </nav>
            <!-- Mobile menu, show/hide based on menu open state. -->
            <div class="lg:hidden" role="dialog" aria-modal="true">
                <!-- Background backdrop, show/hide based on slide-over state. -->
                <div class="fixed inset-0 z-50"></div>
                <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">

                    <div class="flex items-center justify-between">

                        <a href="{{ path('home_index') }}" class="-m-1.5 p-1.5">
                            <div class="one"></div>
                            <div class="two"></div>
                            <div class="three"></div>
                            <h1>Inspiro</h1>
                        </a>

                        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                            <span class="sr-only">Close menu</span>
                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </button>
                    </div>

                    <div class="mt-6 flow-root">

                        <div class="-my-6 divide-y divide-gray-500/10">

                            <div class="space-y-2 py-6">
                                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-blue-950 hover:text-red-500">Mon blog</a>
                                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-blue-950 hover:text-red-500">Ajouter</a>
                                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-blue-950 hover:text-red-500">Marketplace</a>
                                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-blue-950 hover:text-red-500">Contact</a>
                            </div>

                            <div class="relative ml-3 group">
                                <div>
                                    <button type="button" class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                        <span class="sr-only">Open user menu</span>
                                        <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                    </button>
                                </div>

                                <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none transition duration-200 transform scale-0 opacity-0 group-hover:scale-100 group-hover:opacity-100" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                                    <a href="#" class="block px-4 py-2 text-sm text-blue-950 hover:bg-red-100" role="menuitem" tabindex="-1" id="item user-menu-item-0">Mon Profil</a>
                                    <a href="#" class="block px-4 py-2 text-sm text-blue-950 hover:bg-red-100" role="menuitem" tabindex="-1" id="item user-menu-item-1">Paramètres</a>
                                    <a href="{{ path('user_logout') }}" class="block px-4 py-2 text-sm text-red-500 hover:bg-slate-200" role="menuitem" tabindex="-1" id="item user-menu-item-2">Déconnexion</a>
                                </div>
                            </div>

                            <div class="py-6">
                                <a href="{{ path('user_login') }}" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-blue-950 hover:text-red-500">Se Connecter</a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </header>
    </div>

    {% block home %}{% endblock %}
    {% block main %}{% endblock %}

    <footer class="bg-slate-200 mt-20">

        <div class="grid grid-cols-4 py-10">
            <div>

            </div>

            <div>
                    <!-- Contenu de la troisième colonne -->
            </div>

            <div class="text-blue-950">
                <h3 class="text-blue-950">Contact</h3>
                <p class="flex py-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red-500">
                        <path stroke-linecap="round" d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25"></path>
                    </svg>
                    <span class="ml-2">claireholmaert@gmail.com</span>
                </p>
            </div>

            <div>
                <h3 class="text-blue-950">Réseaux Sociaux</h3>
                <div class="flex space-x-4 px-4 py-3">
                    <a href="https://github.com/claireholmaert" target="_blank"><img src="{{ asset('./images/github-icon.png') }}" alt="GitHub" width="30" height="30"></a>
                    <a href="https://www.linkedin.com/in/claire-holmaert-%F0%9F%8D%80-b103a1262/" target="_blank"><img src="{{ asset('./images/linkedin-icon.png') }}" alt="LinkedIn" width="30" height="30"></a>
                </div>
            </div>

        </div>

        <p class="text-blue-950 text-center">&copy; Inspiro - {{ 'now' | date('Y') }}. {{ options['blog_copyright'] }}</p>

    </footer>
    </body>
</html>
