{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <div class="ml-44">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-blue-950">Se Connecter</h2>
        </div>
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form method="post" class="space-y-6">
                {% if error %}
                    <div class="alert alert-danger text-red-500">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3 text-green-500">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('user_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}

                <div>
                    <label for="inputUsername" class="block text-sm font-medium leading-6 text-gray-900">Nom d'utilisateur</label>
                    <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-800 sm:text-sm sm:leading-6" autocomplete="username" required autofocus>
                </div>
                <div>
                    <div class="flex items-center justify-between">
                        <label for="inputPassword" class="block text-sm font-medium leading-6 text-gray-900">Mot de passe</label>
                        <div class="text-sm">
                            <a href="#" class="text-red-500 hover:border-b hover:border-b-red-500">Mot de passe oublié ?</a>
                        </div>
                    </div>
                    <input type="password" name="_password" id="inputPassword" class="form-control block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-800 sm:text-sm sm:leading-6" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div>
                    <button type="submit" class="btn flex w-full justify-center rounded-md bg-blue-950 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-900">
                        Connexion
                    </button>
                </div>

                <p class="mt-10 text-center text-sm text-gray-500">
                    Vous n'avez pas encore de compte ?
                    <a href="{{ path('user_register') }}" class="font-semibold leading-6 text-blue-950 hover:border-b hover:border-b-red-500">Inscrivez-vous</a>
                </p>
            </form>
        </div>
{% endblock %}
